<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>588502912966-9lmbfaiuobp2fjhdtjc1en4op42qjo8n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.588502912966-9lmbfaiuobp2fjhdtjc1en4op42qjo8n</string>
	<key>API_KEY</key>
	<string>AIzaSyC4hA-TSGfox0JpwY8uIBKSTta8F4eSXPw</string>
	<key>GCM_SENDER_ID</key>
	<string>588502912966</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.muhammedkarakul.Sinefil</string>
	<key>PROJECT_ID</key>
	<string>sinefil-5081b</string>
	<key>STORAGE_BUCKET</key>
	<string>sinefil-5081b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:588502912966:ios:07edb1288094e228866cc7</string>
	<key>DATABASE_URL</key>
	<string>https://sinefil-5081b.firebaseio.com</string>
</dict>
</plist>
